
/* banner section styling */
.banner{
    display:flex;
    justify-content: flex-start;
    
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;

    background-color: #C6E4D6;
    width: 1280px;
    height:560px;
    border-radius: 24px;
    
   
}

.banner-content{
   max-width: 622px;
   margin-left: 90px;
   margin-top: 117px;
   margin-bottom: 0px;
}
.banner-image{
    max-width: 473px;
    margin-right: 90px;
    margin-top: 117px;
}
.banner-greeting{
    font-size: 24px;
    font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
  margin-bottom: 15px;
  color:#0E0E0E;
  opacity: 50%;
}
.banner-description{
    font-size: 56px;
    font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  margin-top:0;
  margin-bottom: 0px;
}
.button-greetings{
    background-color: #006A50;
    width:270px;
    height:56px;
    margin-top: 24px;
    margin-bottom: 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Fira Sans", serif;
  font-weight: 600;
    padding:34px 34px;
    border-radius: 8px;
    border:none;
    text-align: center;
  
}

.button-greetings:hover{
    background-color: #0092b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Quote section */
.quote{
    background-image: url(quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    width:1280px
    height:256px;
    margin-left: 160px;
    margin-right: 160px; 
    margin-top: 80px;
    

}
.quote-inner{
    width:1232px;
    height:160px;
    padding-bottom: 40px;
}
.main-content{
    margin-bottom: 15px;
}
.quote-content{
    width:1232px;
    height:196px;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    gap:0;

}
.quote-person{
   
    margin-top: 50px;
}
/* vision section styling */
.vision-main{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 24px;;
    
}


.vision-container{
    display:flex;
    gap:24px;
    width:1280px;
    height: 325px;
    margin-bottom: 24px;
    
}

.vision{
    
    padding:30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.vision:hover{
    background-color: chocolate;
}
.main-title{
    width:1280px;
    height: 48px;
    font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}


.title-description{
    width:1280px;
    height: 48px;
    font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:#0E0E0E;
  opacity:70%;
  

}
.vision-title{
    font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size:20px;
  opacity: 80%;
}
.vision-description{
    font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  opacity: 70%;
}
.bg1{
    background-color:#d5deef ;
}
.bg2{
    background-color: #C6E4D6;
}
.bg3{
    background-color: #F7EBCF;
}
.btn-primary{
    width:122px;
    height:41px;
    font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color:#FFFFFF;
  border-radius: 8px;
  
}
.btn-primary:hover{
    background-color: #0092b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}
.bt1{
    background-color: #5490F5;
}
.bt2{
    background-color: #09A15C;
}
.bt3{
    background-color:#FFC239 ;
}
/* news section styling */
.news{
    width:1280px
    height:395px;
    margin-left: 160px;
    margin-right: 160px; 
    margin-top: 80px;
    
}
.news-container{
    width:1280px;
    height:1286px;
    margin-top:24px;
   
   
}
.news-items{
    width:1280px;
    height:402px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 20px;
    
}
.news-item{
    width:744px;
    height:290px;
    flex:1;
    max-width:60%;
    margin:0;
    
}
.news-icon{
    width:134px;
    height:40px;
}



.news-image{
    flex: 1; 
    max-width: 40%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
}
.news-profile-pic {
    width:408px;
    height:306px;
    border-radius: 24px; 
}
.news-item2{
    width:744px;
    height:290px;
}
.news-item3{
    width:744px;
    height:290px;
}
.news-title{
    width:744px;
    height:38px;
    font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 5px;
}
.date-time{
    width:744px;
    height:24px;
    font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:#0E0E0E;
  opacity: 70%;
}
.date-time .time {
    margin-right: 40px; 
}
.news-description{
    width:744x;
    height:72px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color:#0E0E0E;
    opacity: 70%;
}
.bt4{
    background-color: #006A50;
}

/* Donate section styling */
.donate{
    width:1280px;
    height:464px;
    margin-left: 160px;
    margin-right: 160px; 
    margin-top: 80px;
    
}
.donate-parent{
    width:1271px;
    height:128px;
    display:flex;
    Padding-right:104px;
    padding-left:104px;
    gap:20px;
    list-style: none;
   

    flex-direction: row;
    flex-wrap: wrap;
}
.child{
    width:252px;
    height:128px;
    
    border:2px solid #c6c2c2;
    
    border-radius:16px ;
    padding:0px;
    
}
.donate-title{
    width:1280px;
    height:120px;
    margin-bottom: 40px;
}
.text-center{
    text-align: center;
}
.money{
    text-align: center;
    font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color:#0E0E0E;
  opacity: 80%;
}

.amount-input {
    display:flex;
    margin-left: 40px;
    margin-top:24px;
    margin-bottom: 15px;
    
    width: 1032px; 
    height: 64px; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
}
.other{
    margin-bottom: 10px;
    margin-left: 50px;
    border-bottom: #c6c2c2;
    
}
.extra{
    display:block;
    align-items: center;
    
    margin-top: 25px;
}
.donate-button{
    width:151px;
    height:56px;
    margin-left: 550px;
}
.btn-donate{
    width:122px;
    height:56px;
    font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color:#FFFFFF;
  border-radius: 8px;
}
.btn-donate:hover{
    background-color: #0092b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}
.child:hover{
    background-color: chocolate;
}
/* newsletter section styling */
.newsletter{
    width:1280px
    height:395px;
    margin-left: 160px;
    margin-right: 160px; 
    margin-top: 80px;
    background: #C6E4D6;
    border-radius: 24px; 
    
    
}
.newsletter-title{
    padding-top: 50px;
}
.newsletter-content{
    margin-left: 100px;
}
.esubscription{
    background-color: white;
    width:750px;
    height:56px;
    margin-left: 150px;
    
  
    
}
.esubscription::placeholder {
    color:#0E0E0E;
  opacity: 30%;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}